@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-image: url(../img/5238994.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg2{
    background-image: url(../img/5335415.jpg);
}
.container{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 75px;
}
.card{
    background-color: #fff;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0 #00000060;
}
.cardCadastro{
    width: 400px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    color: #47AB43;
}
.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #484848;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}
.label-float{
    position: relative;
    padding-top: 13px; 
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input:focus{
    border-bottom: 2px solid #484848;
}
.label-float label{
    color: #47AB43;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}
.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #47AB43;
}
button{
    border-color: transparent;
    background-color: #EAEAEA;
    color: #484848;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}
button:hover{
    background-color: #47AB43;
    color: #fff;
}
.justify-content{
    display: flex;
    justify-content: center;
}
hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}
p{
    color: #484848;
    font-size: 14pt;
    text-align: center;
}
a{
    color: #55BC52;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #47AB43;
}
.fa-eye{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    color: #484848;
}
#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
#msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
#msgFail{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
